body, html {
    background-color:#FFF9EE ;  
    margin: 1em;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.Welcome {
    margin-top: 0;
}

#portfolio {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#contactme {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}   

.section-title {
    margin-top: 3em; 
}


.photoProfil {
    max-width: 80%;
    padding: 0 2rem;
    height: auto;
}

.portf-name {
    margin-top : 0.5rem; 
    margin-bottom: 0;
    font-weight: bold;
}

.portf-desc {
    margin-top : 0; 
    margin-bottom: 0.5rem;
    text-align: center;
}

#portfolio img {
    width: 80%;  
    height: 80%;
    padding: 0 2rem;
    object-fit: cover; 
}



/* Extra small devices (phones, 0px and up) */
@media (max-width: 600px) {
    body, html {
        text-align: center;
    }
    .menu {
        display: none;
    }

    .mobileMenu {
        display: flex;;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 1.5em; 
    }

    .title {
        margin-top: 0 ;
    }

}

/* Small devices (tablets, 600px and up) */
@media (min-width: 600px) {
    .mobileTitle {
        display: none;
    }
    #header {
         display : grid;
         grid-template-columns: minmax(0,1fr) minmax(0,1fr);
         align-items: center; 
        justify-items: center;
     }
     
     #header p{
         grid-column-start: 1;
         padding: 0 2rem;
     }

    .mobileMenu {
        display: none;
    }

    .menu {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .notActive {
        display: flex ;   
    }

    .title {
        padding-right: 1rem;
    }

    .title.active {
        font-size: 2.5rem;
    }

    .portf-grid-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0,1fr));
    }
    #portfolio .portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   
}

/* Medium devices (tablets and small laptops, 768px and up) */
@media (min-width: 768px) {
    #header p{
        line-height: 2em;
    }
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
    #header p{
        line-height: 2.5em;
    }
}

/* Extra large devices (large desktops, 1280px and up) */
@media (min-width: 1280px) {
    p{
        font-size: large;
    }
  
}

