body, html {
    background-color:#FFF9EE ;  
    margin: 1em;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

#portfolio {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* #header {
 min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contactme {
     min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}  */

.section-title {
    margin-top: 3em; 
}


.photoProfil {
    max-width: 80%;
    padding: 0 2rem;
    height: auto;
}

.portf-name {
    margin-top : 0; 
}

#portfolio img {
    height: auto;
    max-width: 80%;
    padding: 0 2rem;
}



/* Extra small devices (phones, 0px and up) */
@media (max-width: 600px) {
    body, html {
        text-align: center;
    }
    .menu {
        display: none;
    }

    .mobileMenu {
        display: flex;;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 1.5em; 
    }

    .title {
        margin-top: 0 ;
    }

}

/* Small devices (tablets, 600px and up) */
@media (min-width: 600px) {
    body, html {
        background-color: lightblue ; 
    }
    .mobileTitle {
        display: none;
    }
    #header {
         display : grid;
         grid-template-columns: minmax(0,1fr) minmax(0,1fr);
         align-items: center; 
        justify-items: center;
     }
     
     #header>p{
         grid-column-start: 1;
         padding: 0 2rem;
     }

    .mobileMenu {
        display: none;
    }

    .menu {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .notActive {
        display: flex ;   
    }

    .title {
        padding-right: 1rem;
    }

    .title.active {
        font-size: 2.5rem;
    }

    .portf-grid-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0,1fr));
    }
    #portfolio .portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   
}

/* Medium devices (tablets and small laptops, 768px and up) */
@media (min-width: 768px) {
    body, html {
        background-color: lightgoldenrodyellow ; 
    }

  

    #header>p{
        line-height: 2em;
    }
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
    body, html {
        background-color: lightpink ; 
    }
    #header>p{
        line-height: 2.5em;
    }
}

/* Extra large devices (large desktops, 1280px and up) */
@media (min-width: 1280px) {
    body, html {
        background-color: lightgrey ; 
    }
  
}

/* -----------------------------SECTION NAVBAR ---------------------------------------*/ 
  /*.menu {
   position: absolute; 
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    cursor: pointer;
    transition: transform 0.5s ease, font-size 0.5s ease, left 0.5s ease, right 0.5s ease; 
    position: absolute;
}


.title[data-index="1"] {
    left: 20px;
}

.title[data-index="2"] {
    right: 140px;
}

.title[data-index="3"] {
    right: 20px;
}

.title.active {
    font-size: 2.5rem;
}*/

/* -----------------------------SECTION PORTFOLIO ----------------------------------*/
/* #portfolio {
    height: 90dvh;
    margin-top: 9em;
} */
 */

/* -----------------------------SECTION CONTACT ------------------------------------*/
/* #contactme {
    height: 80dvh;
    margin-top: 2em;
    overflow: hidden;
    width: calc(100vw - 6.5em);
    background: #F4F1EB;     
}

.contact-container{
    border: 1px solid black;
    padding: 1em;   
    height: 60dvh;
    width: calc(100vw - 6.5em);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.contactme-name {
    font-size: 3rem;
    font-weight: 600;
} */

